name: Build and Push Docker Image

on:
  push:
    branches: [ main ]
  pull_request_target:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
      issues: read
      id-token: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: mkdir
      run: mkdir demos/rfe-builder/data

    - name: Log in to Quay.io
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Log in to Red Hat Container Registry
      uses: docker/login-action@v3
      with:
        registry: registry.redhat.io
        username: ${{ secrets.REDHAT_USERNAME }}
        password: ${{ secrets.REDHAT_PASSWORD }}

    - name: Build and push Docker image only for merge into main
      if: github.ref == 'refs/heads/main'
      uses: docker/build-push-action@v5
      with:
        context: demos/rfe-builder
        push: true
        tags: quay.io/ambient_code/vteam

    - name: Build Docker image for pull requests but don't push
      if: github.ref != 'refs/heads/main'
      uses: docker/build-push-action@v5
      with:
        context: demos/rfe-builder
        push: false
        tags: quay.io/ambient_code/vteam:pr-${{ github.event.pull_request.number }}
